.navbar.title {
    height: 40px;
    -webkit-app-region: drag;
}

mark {
    padding: 0 !important;
    background-color: #6c757d;
    color: #fff;
}

button {
    -webkit-app-region: no-drag;
}

main {
    height: calc(100% - 100px);
}

main .col {
    height: 100%;
}

main textarea {
    width: 100%;
    resize: none;
    white-space: pre;
}

main div.response {
    height: calc(100% - 42px);
    overflow: auto;
    padding: 5px;
}

main textarea.headers {
    height: 30%;
    margin: 5px 0;
}   

main textarea.body {
    height: calc(70% - 134px);
}

.code-font {
    font-family: "consolas", Menlo, Monaco, 'Courier New', monospace;
}

.code-label {
    display: inline-block;
    text-align: right;
}

.width-75 {
    width: 75px;
}

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #555; 
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}